<template>
    <header id="header" class="header">
        <h2>{{headerText}}</h2>
        <a href="#" v-if="!isLoggedIn" v-on:click="this.LOGIN">Login</a>
        <a href="#" v-if="isLoggedIn" v-on:click="this.LOGOUT">Logout</a>
    </header>
</template>

<script>
    import {mapGetters, mapState, mapActions} from 'vuex';
    import actions from './../store/actionTypes';

    export default {
        computed: {
            ...mapState(['isLoggedIn']),
            ...mapGetters(['headerText'])
        },
        methods: {
            ...mapActions([actions.LOGIN, actions.LOGOUT])
        }
    }
</script>

<style scoped>
    .header {
        background-color: #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        color: #ffffff;
        padding: 0 1rem;
    }

    h2 {
        margin: 0;
        display: inline-block;
    }

    a {
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: #ffffff;
    }
</style>
