<template>
    <div id="home" class="home">
        <guest v-if="!isLoggedIn"></guest>
        <playlists v-if="isLoggedIn"></playlists>
    </div>
</template>

<script>
    import Guest from'./Guest';
    import Playlists from'./Playlists';
    import {mapState} from 'vuex';

    export default {
        name: 'home',
        components: {
            'guest': Guest,
            'playlists': Playlists
        },
        computed: {
            ...mapState(['isLoggedIn'])
        }
    }
</script>

<style scoped>
    .home {
        padding: 1rem;
    }
</style>
