<template>
    <div id="loading">
        <div class='loading-overlay'>
            <span class="spinner"></span>
        </div>
    </div>
</template>

<script>
</script>

<style scoped>
    .loading-overlay {
        background-color: #303030;
        height: 100%;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .spinner {
        left: 50%;
        margin: -1rem 0 0 -1rem;
        position: fixed;
        top: 50%;
        animation: spin 1s infinite linear;
        height: 50px;
        width: 50px;
        background-image: url(../assets/spinner.png);
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }

    }
</style>
