<template>
    <div class="new-track-container">
        <h3>Search track you want add:</h3>
        <search></search>
        <p v-if="searchResults">Click to add track to current playlist</p>
        <ul v-if="searchResults" class="search-results">
            <li v-for="track in searchResults" v-on:click="ADD_TRACK_TO_PLAYLIST(track.uri)">
                <track-item v-bind:data="track" :key="track.id"></track-item>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import Search from './Search';
    import actions from './../store/actionTypes';
    import TrackItem from'./TrackItem';

    export default {
        name: "new-track-container",
        components: {
            'search': Search,
            'track-item': TrackItem
        },
        computed: {
            ...mapState(['searchResults'])
        },
        methods: {
            ...mapActions([actions.ADD_TRACK_TO_PLAYLIST]),
        },
        created() {
            this.$store.dispatch(actions.NEW_TRACK_CONTAINER_CREATED);
        }
    }
</script>

<style lang="scss" scoped>
    .new-track-container p{
        font-style: italic;
        font-size: 1.1rem;
    }

    .search-results {
        list-style: none;
        .track-item {
            cursor: pointer;
            margin-bottom: 1rem;
            float: none;
        }

        li {
            :hover {
                font-weight: 700;
            }
        }
    }

</style>
