<template>
    <div id="playlists">
        <h2>Playlists:</h2>
        <loading v-if="isLoading"></loading>
        <ul v-if="!isLoading" class="playlists">
            <li v-for="playlist in playlists">
                <playlist :data="playlist"></playlist>
            </li>
        </ul>
    </div>
</template>
<script>
    import {mapState} from 'vuex';
    import actions from './../store/actionTypes';
    import Loading from'./Loading';
    import Playlist from'./Playlist';

    export default {
        name: 'home',
        components: {
            'loading': Loading,
            'playlist': Playlist,
        },
        computed: {
            playlists() {
                return this.$store.state.userData.playlists;
            },
            ...mapState(['isLoggedIn', 'isLoading'])
        }
    }
</script>

<style scoped>
    .playlists {
        list-style: none;
    }

    li {
        padding: 0 1rem;
        width: 12rem;
        float: left;
    }
</style>