<template>
    <figure class="playlist" v-on:click="showMore">
        <div class="image-container">
            <img v-bind:src="data.images[0].url">
        </div>
        <figcaption>
            <h3>{{data.name}}</h3>
        </figcaption>
    </figure>
</template>

<script>
    import {mapActions} from 'vuex';
    import actions from './../store/actionTypes';

    export default {
        name: 'home',
        props: ['data'],
        methods: {
            showMore() {
                this.$router.push('/playlist/' + this.data.id);
            },
        }
    }
</script>

<style scoped>
    .playlist {
        cursor: pointer;
        margin: 0;
    }

    img {
        width: 12rem;
        height: 12rem;
    }
    h3 {
        text-align: center;
    }

</style>
