<template>
    <div class="playlist_detailed" v-if="isLoggedIn">
        <loading v-if="isLoading"></loading>
        <div v-if="currentPlaylist">
            <h2>{{currentPlaylist.name}}</h2>
            <ol>
                <li class="playlist__element" v-for="items in currentPlaylist.tracks.items">
                    <track-item :data="items.track"></track-item>
                    <button class="button_remove" v-on:click="REMOVE_TRACK(items.track.uri)">Remove</button>
                </li>
            </ol>
        </div>
        <button class="button button_toggle" v-if="!shouldShowNewTrackContainer" v-on:click="toggleNewTrackContainer(true)">Add track to playlist</button>
        <button class="button button_toggle" v-if="shouldShowNewTrackContainer" v-on:click="toggleNewTrackContainer(false)">Hide search container</button>
        <router-link to="/"><button class="button button_home">Home</button></router-link>
        <new-track-container v-if="shouldShowNewTrackContainer"></new-track-container>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    import actions from './../store/actionTypes';
    import Loading from'./Loading';
    import NewTrackContainer from'./NewTrackContainer';
    import TrackItem from'./TrackItem';

    export default {
        name: 'detailed-playlist',
        components: {
            'loading': Loading,
            'new-track-container': NewTrackContainer,
            'track-item': TrackItem
        },
        data() {
            return {
                shouldShowNewTrackContainer: false
            }
        },
        computed: {
            ...mapState(['isLoading', 'userData', 'currentPlaylist', 'isLoggedIn'])
        },
        methods: {
            ...mapActions([actions.REMOVE_TRACK]),
            toggleNewTrackContainer(shouldShow) {
                this.shouldShowNewTrackContainer = shouldShow;
            }
        },
        created() {
            showPlaylist.call(this);
        },
        updated() {
            if(!this.currentPlaylist && !this.isLoading) {
                showPlaylist.call(this);
            }
        }
    }

    function showPlaylist() {
        const {playlistId} = this.$route.params;

        if(this.userData && this.userData.id) {
            this.$store.dispatch(actions.SHOW_DETAILED_PLAYLIST, playlistId);
        }
    }
</script>

<style scoped>
    .playlist_detailed {
        padding: 1rem;
    }

    .button_remove {
        font-size: 15px;
        background-color: grey;
        color: white;
        border: none;
        margin-left: 1rem;
    }

    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .button_home {
        background-color: #4CAF50;

    }

    .button_toggle {
        background-color: #008CBA;

    }

    .playlist__element {
        margin-bottom: 0.5rem;
    }
</style>
