<template>
    <form id="search" v-on:submit.prevent="search()">
        <input type="text" placeholder="Please enter track name" v-model="query">
        <button type="submit">Search</button>
    </form>
</template>

<script>
    import actions from './../store/actionTypes';

    export default {
        name: "search",
        data () {
            return {
                query: ''
            }
        },
        methods: {
            search() {
                this.$store.dispatch(actions.SEARCH_TRACK, this.query);
            }
        }
    }
</script>

<style scoped>

</style>
