<template>
    <div class="track-item">
        <span v-for="artist in data.artists">{{artist.name}} </span>
        <span>- </span>
        <span>{{data.name}}</span>
        <span>{{formatDuration(data.duration_ms)}}</span>
    </div>
</template>

<script>
    export default {
        name: "track-item",
        props: ['data'],
        methods: {
            formatDuration(ms) {
                const min = Math.floor(ms/(60*1000));
                let sec = Math.floor(ms/(1000)) - min*60;
                if (sec < 10) {
                    sec = '0' + sec;
                }
                return '(' + min + ':' + sec + ')';
            }
        }
    }
</script>

<style scoped>
    .track-item {
        float: left;
    }
</style>