<template>
    <div id="app">
        <app-header></app-header>
        <router-view></router-view>
    </div>
</template>

<script>
    import Header from './components/Header.vue';
    import actions from './store/actionTypes';

    export default {
        name: 'app',
        components: {
            'app-header': Header
        },
        created: function () {
            this.$store.dispatch(actions.APP_CREATED);
        }
    }
</script>

<style lang="scss">
    body {
        margin: 0;
    }
    #app {
        color: #2c3e50;
    }
    
    button {
        cursor: pointer;
    }
</style>
